
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #5e4534;
    color: #000000;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #805f46;
}

nav a {
    color: #000000;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #956b3e;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: white;
    margin: 10px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 15px 0;
    color: #2c3e50;
}

.card p {
    color: #7f8c8d;
    font-size: 14px;
}

footer {
    background-color: #4A3323FF;
    color: #000000;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Footer sa posunie dole */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.footer-left {
    text-align: left;
}

.footer-logo {
    max-width: 200px;
    margin-bottom: 10px;
}

.footer-left p, .footer-right p {
    margin: 5px 0;
    color: #000000;
}

.footer-left a, .footer-bottom a {
    color: #4a3323;
    text-decoration: none;
    font-weight: bold;
}

.footer-bottom {
    background-color: #956b3e;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}
.footer-mid{

}

.footer-right {
    text-align: right;
}
.content {
    flex: 1; /* Zabezpečí, že obsah zaberie zvyšný priestor */
    display: flex;
}
